
<div class="Education">
  <!--Sess 1-->
  <div class="hero_Texts">
    <h1 class="hero_title">
        Work Experience
    </h1>
    <p class="hero_copy">
        I launched my professional career in 2021, post-pandemic, initially focusing on Microsoft technologies to automate workflows, develop applications, create bots, and implement business intelligence reports. Currently, I specialize as a data analyst, with a keen interest and expertise in data governance and data quality.
        
    </p>

  </div>
 <!--Sess 2-->

    <div class="timeLine"><!--First Timeline-->
        <div class="Timeline_Componet Date1">
            <div class="timeline_date timeline__date__right">March, 2023 To January, 2024</div>
        </div>
        <div class="timeline__middle">
            <div class="timeline__point"></div>
        </div>
        <div class="Timeline_Componet Timeline__Component__bg">
           <h2 class="timeline__title">Analista de datos</h2>
           <p class="dateDesactivada">March, 2023 To January, 2024</p>
            <p class="timeline__paragraph">
               First Quatum Minerals. 
            </p>
            <!--<p class="timeline__paragraph">
                Analizar, mantener, verificar y desarrollar reportes en PowerBI 

             </p>-->
             <ul class="timeline__paragraph">
                <li>Requirements gathering for report development.</li>
                <li>Data connections and extraction.</li>
                <li>Data processing and modeling</li>
                <li>Report server administration.</li>
                <li>Creation and maintenance of reports in Power BI
                    and Report Builder</li>

              </ul>  
        </div>
    
        <div class="Timeline_Componet timeline__component--bottom Timeline__Component__bg">
            <h2 class="timeline__title">Especialista de desarrollos y servicios TI</h2>
            <p class="dateDesactivada">August,2022 to March, 2023</p>
             <p class="timeline__paragraph">
                Caja de ahorros
             </p>
             <ul class="timeline__paragraph">
                <li>Requirement gathering for process automation.</li>
                <li>Verifying project scope and determining
                    estimated production release times.</li>
                <li>Verifying and managing development licenses.</li>
                <li>Report server administration.</li>
                <li>Creation and maintenance of bots in Automation
                    Anywhere.</li>

              </ul>
             <!--<p class="timeline__paragraph">
                Automatizar procesos bancarios con Automation Anywhere.
             </p>-->
         </div>
    
         <div class="timeline__middle">
            <div class="timeline__point"></div>
              
        
        </div>
    
        <div class="Timeline_Componet timeline__component--bottom">
            <div class="timeline_date Date2">August,2022 to March, 2023</div>
        </div>

        <!--3 line-->
        <div class="Timeline_Componet Date2">
            <div class="timeline_date timeline__date__right"> March, 2021 to August, 2022</div>
        </div>
        <div class="timeline__middle">
            <div class="timeline__point"></div>
            <div class="timeline__point timeline__point__Bottom"></div>
        </div>
        <div class="Timeline_Componet Timeline__Component__bg">
           <h2 class="timeline__title">Analista de procesos y procedimientos</h2>
           <p class="dateDesactivada">March, 2021 to August, 2022</p>
            <p class="timeline__paragraph">
               Caja de ahorros
            </p>
            <!--<p class="timeline__paragraph">
                Automatizar procesos bancarios con Microsoft power platforms.
             </p>-->
             <ul class="timeline__paragraph">
                <li>Analyze different banking workflows.</li>
                <li>Identify potential processes to streamline
                    administrative tasks or have a direct impact on
                    customers.</li>
                <li>Building and maintaining applications using
                    Power Automate and Power Apps.</li>
                <li>Support development teams outsourced by
                    project management.</li>

              </ul>
        </div>


        <!--Line 4-->

        <div class="Timeline_Componet timeline__component--bottom Timeline__Component__bg">
            <h2 class="timeline__title">Analista de Operaciones</h2>
            <p class="dateDesactivada">2015 september to 2015 November</p>
             <p class="timeline__paragraph">
                Caja de ahorros
             </p>
            <!--<p class="timeline__paragraph">
                Verificar cheques, crear y actualizar perfil de clientes
             </p>-->
             <ul class="timeline__paragraph">
                <li>Verify checks, create, and update bank clients'
                    profiles.
                    </li>
             </ul>
         </div>
    
         <div class="timeline__middle">
            <div class="timeline__point timeline__point__Bottom"></div>
        </div>
    
        <div class="Timeline_Componet timeline__component--bottom Date2">
            <div class="timeline_date">2015 september to 2015 November</div>
        </div>

    </div>
    
  
    
</div>
