<section id="Footer_S"> 

<footer class="footer">
    <div class="grid">
       <div class="textos-footer">
        
            <h2 class="subtitulos">Contact me</h2>
            <p>ArauzCode 2024</p>
            <div class="linea"></div>
        </div>
   
            <div class="footer-items1"> 
                <a href="https://github.com/TomasArauz0697">
                   <i class="fi fi-brands-github"></i>
                </a>
            </div>
            <div class="footer-items2"> 
                <a href="#">
                <!--   <i class="fab fa-instagram"></i>--> 
                <i class="fi fi-brands-instagram"></i>
                </a>
            </div>
            <div class="footer-items3"> 
                <a href="https://www.linkedin.com/in/tomas-arauz-8aaa94199/">
                    <!--<i class="fab fa-twitter"></i>-->
                    <i class="fi fi-brands-linkedin"></i>
                      
                </a>
            </div>
            <div class="footer-items4"> 
                <a href="https://wa.me/+50764289804">
                  <!-- <i class="fab fa-youtube"></i>--> 
                  <i class="fi fi-brands-whatsapp"></i> 
                </a>
            </div>
</div>
</footer>
</section>