
<div class="Education">
    <div class="timeLine">
        
        <!--First Timeline-->
        <div class="Timeline_Componet Date1">
            <div class="timeline_date timeline__date__right">March 20, 2020</div>
        </div>
        <div class="timeline__middle">
            <div class="timeline__point"></div>
        </div>
        <div class="Timeline_Componet Timeline__Component__bg">
           <h2 class="timeline__title">Bachelor’s degree in software development</h2>
           <p class="dateDesactivada">March 20, 2020</p>
            <p class="timeline__paragraph">
                Universidad Tecnológica de Panamá. 
            </p>
        </div>
    
        <!--Sec-->
        <div class="Timeline_Componet timeline__component--bottom Timeline__Component__bg">
            <h2 class="timeline__title">Technical Degree in Engineering with a
                Specialization in Software Development.</h2>
                <p class="dateDesactivada">July 30, 2018</p>
             <p class="timeline__paragraph">
                Universidad Tecnológica de Panamá. 
             </p>
         </div>
    
         <div class="timeline__middle">
            <div class="timeline__point"></div>
              
        
        </div>
    
        <div class="Timeline_Componet timeline__component--bottom Date2">
            <div class="timeline_date">July 30, 2018</div>
        </div>

        <!--3 line-->
        <div class="Timeline_Componet">
            <div class="timeline_date timeline__date__right Date3">December 15, 2016</div>
        </div>
        <div class="timeline__middle">
            <div class="timeline__point"></div>
            <div class="timeline__point timeline__point__Bottom"></div>
        </div>
        <div class="Timeline_Componet Timeline__Component__bg">
           <h2 class="timeline__title">High School Diploma in Commerce with an
            Emphasis on Marketing and Advertising.</h2>
            <p class="dateDesactivada">December 15, 2016</p>
            <p class="timeline__paragraph">
                Coclé, El Valle de Antón
            </p>
        </div>
    </div>
    
    <!--Sess 2-->
    <div class="hero_Texts">
        <h1 class="hero_title">
            Education
        </h1>
        <p class="hero_copy">
            I consider myself a self-taught person, responsible,
            punctual, and very competitive. I always enjoy
            learning new things; I am passionate about
            application development and topics related to
            technology.
            
        </p>
       <!-- <div class="hero_contact">
          
          <button class="hero_btn">Download CV</button>
          <input
            class="hero_input"
            type="text"
            placeholder="Enter your Email"
          />
        </div>-->
      </div>
    
</div>
