.Education{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items: center;
    background-color: #232949;
}

.timeLine{
    /*margin: 0 auto;*/
    /*max-width: 750px;*/
    padding-top: 80px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif';
    color: #FFFFFF;
    background-color: #232949;


}

.Timeline_Componet{
    margin: 0 20px 20px 20px;

}

.Timeline__Component__bg{
    padding: 1.5em;
    background-color:rgba(255, 255, 255 , 0.2) ;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.timeline__component--bottom{
    margin-bottom: 10px;
}

.timeline__date__right{
    text-align: right;
}

.dateDesactivada{
  display: none;
}
.timeline__middle{
    position: relative;
    background-color: #e8eaf5;
}
.timeline__point{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: #e8eaf5;
    border-radius:50% ;


}

.timeline__point__Bottom{
    top: initial;
    bottom: 0;
}

.timeline__title{
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}
.timeline__paragraph{
   
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: lighter;
   color: #e8eaf5;
}

/*Sess 2*/

.hero_title {
    font-size: 2.5rem;
    color: #FFFFFF;
    line-height: 1.5;
  }
  .hero_copy {
    font-size: 1.2rem;
    color: #FFFFFF;
    line-height: 1.5;
    margin: 20px 0;
  }

  @media screen and (max-width: 990px) {

  .Education{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
    align-items: center;
    background-color: #232949;
  }
  .hero_Texts{
    grid-row: 1;
    
  }
  .timeLine{
    max-width: none;
  }
  .hero_copy , .hero_title{
    padding-left: 15px;
    padding-right: 15px;
  }

  .timeLine{
    padding-top: 10px;
    padding-bottom: 10px;
   }
  }

  @media screen and (max-width: 990px) {
  .timeline_date ,.timeline__middle{
    display: none;
  }
 
  .timeLine {
    grid-template-columns: 1fr;
  }

  .Date1 ,.Date2, Date3{
    display: none;
  }

  .dateDesactivada{
    display: block;
  }
 }